<!--_meta 作为公共模版分离出去-->
{include file='pub/meta.html' /}
<link rel="stylesheet" type="text/css" href="__HUIADMIN__/css/style.css" />
<link rel="stylesheet" type="text/css" href="__HUIADMIN__/css/contral.css" />
<link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.min.css" />
<!--/meta 作为公共模版分离出去-->
<style type="text/css">
table{
	
	table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
}
td{
	width:100%;
	word-break:keep-all;/* 不换行 */
	/*white-space:nowrap;*//* 不换行 */
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
	/*text-overflow:ellipsis;*//* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
.table td {
	text-align: center;
}
.main_on p {

	float: left;
	padding-right: 50px;
	padding-left: 50px;
	font-weight: 600;
	font-size: 18px;

}
.main_on {

	margin-left: 20px;
	overflow: hidden;
	height: 50px;
	line-height: 60px;
}
</style>
</head>
<body>
<!--_header 作为公共模版分离出去-->
{include file='pub/header.html' /}
<!--/_header 作为公共模版分离出去-->
<!--_menu 作为公共模版分离出去-->
{include file='pub/menu.html' /}
<!--/_menu 作为公共模版分离出去-->
<section class="Hui-article-box">
	<nav class="breadcrumb" style="height: 50px;"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 修改密码 </nav>
	<div class="Hui-article" style="margin-top: 20px;">
		<article class="cl pd-20">
			<form class="mb-20" action="{:url('index/index/changePassword')}" method="post">
				<div class="row cl" style="margin-top: 150px;margin-left: 500px" >


					<label class="form-label col-xs-2 col-sm-2 text-r">原密码：</label>
					<div class="formControls col-xs-2 col-sm-2 text-l" style="margin-top: -3px;" align="right">
						<input type="password" class="input-text" style="width:254px"  placeholder="请输入原始密码 "  id="oldPWD" name="old_password">
						<p id="opwd"></p>
					</div>
				</div>
<div class="row cl" style="margin-top: 50px;margin-left: 500px" >
					<label class="form-label col-xs-2 col-sm-2 text-r">新密码：</label>
					<div class="formControls col-xs-2 col-sm-2 text-l" style="margin-top: -3px;">
						<input type="password" class="input-text" style="width:254px"  placeholder="请输入新密码 "  id="newPWD" name="new_password">
						<p id="npwd"></p>
					</div>
</div>
<div class="row cl" style="margin-top: 50px;margin-left: 500px" >
					<label class="form-label col-xs-2 col-sm-2 text-r">确认密码：</label>
					<div class="formControls col-xs-2 col-sm-2 text-l" style="margin-top: -3px;">
						<input type="password" class="input-text" style="width:254px"  placeholder="请再次确认密码 "  id="confirmPWD">
					    <p id="spwd"></p>
					</div>
				</div>
				<div class="row cl" style="margin-left: 720px" >
				<span>*字母或数字，长度6-16位</span>
				</div>	
<div class="row cl" style="margin-top: 50px;margin-left: 650px" >
					<div class="formControls col-xs-2 col-sm-2" style="margin-top: -3px;">
						<button type="submit" class="btn btn-success radius" id="confirm"><i class="Hui-iconfont">&#xe665;</i>确认</button>			
					</div>
					<div class="formControls col-xs-2 col-sm-2" style="margin-top: -3px;">
						<button type="button" class="btn btn-success radius" id="cancel"><i class="Hui-iconfont">&#xe665;</i>取消</button>			
					</div>					
				</div>		
			</form>

		</article>
	</div>
</section>
<!--_footer 作为公共模版分离出去-->
{include file='pub/footer.html' /}
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__HUIADMIN__/js/WdatePicker.js"></script>
<script type="text/javascript" src="../../static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(function () {
    // var old_password = window.localStorage.getItem('password')
    $("#oldPWD").focus(function () {
        $("#opwd").hide()
        $("#npwd").hide()
        $("#spwd").hide()
    })

    $("#newPWD").focus(function () {
        $("#opwd").hide()
        $("#npwd").hide()
        $("#spwd").hide()

    })
    $("#confirmPWD").focus(function () {
        $("#opwd").hide()
        $("#npwd").hide()
        $("#spwd").hide()
    })

    $('#cancel').click(function () {

        $("#oldPWD").val("")
        $("#newPWD").val("")
        $("#confirmPWD").val("")
        $("#opwd").hide()
        $("#npwd").hide()
        $("#spwd").hide()
        window.history.go(-1)

    });
    $('#confirm').click(function () {
        var oldPWD = document.getElementById('oldPWD').value;
        var newPWD = document.getElementById('newPWD').value;
        var confirmPWD = document.getElementById('confirmPWD').value;

        if (oldPWD == "") {

            $("#opwd").show().text("原密码不能为空,请输入")
            $("#opwd").attr('style','color:red');

            return false;
        }


        // if (oldPWD != old_password) {
        //     $("#opwd").show().text("输入的密码与原密码不符")

        //     return
        // }

        if (newPWD.length == "") {
            $("#npwd").show().text("新密码不能为空,请输入")
            $("#npwd").attr('style','color:red');            
            return false;
        }
        if (newPWD == oldPWD) {
            $("#npwd").show().text("新密码与原密码重复")
            $("#npwd").attr('style','color:red');            
            return false;
        }
        var reg = /^[a-zA-Z\d]{6,16}$/

        if (!reg.test(oldPWD)) {
            $("#opwd").show().text("输入的原密码格式不正确，请输入长度6-16位的字母或数字")
            $("#opwd").attr('style','color:red');
            return false;
        }        

        if (!reg.test(newPWD)) {
            $("#npwd").show().text("输入的新密码格式不正确，请输入长度6-16位的字母或数字")
            $("#npwd").attr('style','color:red');
            return false;
        }
        if (confirmPWD == "") {
            $("#spwd").show().text("请再次输入新密码")
            $("#spwd").attr('style','color:red');
            return false;
        }
        if (confirmPWD != newPWD) {
            $("#spwd").show().text("你输入的密码与新密码不一致")
            $("#spwd").attr('style','color:red');
            return false;
        }

        // $.ajax({
        //     type: 'post',
        //     url: "{:url('index/index/changePassword')}",
        //     data: {
        //         old_password: oldPWD,
        //         new_password: newPWD
        //     },
        //     dataType: "json",
        //     success: function (res) {
        //         //  console.log(res)
        //         //  console.log(res.status)
        //         if (res.status == 1) {
        //             // console.log(2)
        //             window.location.href = "/index.html";
        //             window.localStorage.clear()
        //             window.sessionStorage.clear()
        //         }


        //     },
        //     error: function (XMLHttpRequest) {
        //         //请求过程中发生了错误，记录下错误的代码 例如 : 404 => page not found
        //         alert("请求遇到了错误 , 错误代码 : " + XMLHttpRequest.status);
        //     }
        // })
    });


});

</script>
<!--/请在上方写此页面业务相关的脚本-->

</body>
</html>