<!--_meta 作为公共模版分离出去-->
{include file='pub/meta.html' /}
<!--/meta 作为公共模版分离出去-->
</head>
<body>
<!--_header 作为公共模版分离出去-->
{include file='pub/header.html' /}
<!--/_header 作为公共模版分离出去-->
<!--_menu 作为公共模版分离出去-->
{include file='pub/menu.html' /}
<!--/_menu 作为公共模版分离出去-->
<link rel="stylesheet" type="text/css" href="__LIB__/bootstrap-3.3.7-dist/css/bootstrap.css" />
<section class="Hui-article-box">
	<nav class="breadcrumb" style="height: 50px;"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span> 项目过程管理<span class="c-gray en">&gt;</span>
		<a href="{:url('project/project_package/index')}">套餐机构信息</a>
		<span class="c-gray en">&gt;</span>支持门店
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
		   href="javascript:location.replace(location.href);" title="刷新">
			<i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="Hui-article" style="margin-top: 20px;">
		<article class="cl pd-20">
			<div class="cl pd-5 bg-1 bk-gray">
				<span class="r pt-5 pr-5">
                共有数据 ：<strong>{$count ?? '0'}</strong> 条
            </span>
			</div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg mt-20">
					<thead>
					<tr class="text-c">
						<th width="">序号</th>
						<th width="">城市</th>
						<th width="">体检机构</th>
						<th width="">门店</th>
						<th width="">地址</th>
						<th width="">门店休息日</th>
						<th width="">抽血时间</th>
					</tr>
					</thead>
					<tbody>
					{empty name="list"}
					<tr class="text-c">
						<td colspan="7">暂无数据</td>
					</tr>
					{/empty}
					{notempty name="list"}
					{volist name="list" id="vo"}
					<tr class="text-c">
						<td>{$Think.config.paginate.page_size*((!empty($Think.get.page)?($Think.get.page):1)-1)+($key+1)}</td>
						<td>{$vo.store_id}</td>
						<td>{$vo.area_full_name}</td>
						<td>{$vo.store_name}</td>
						<td>{$vo.store_address}</td>
						<td>{$vo.store_off_day}</td>
						<td>{$vo.store_blood_time}</td>
					</tr>
					{/volist}
					{/notempty}
					</tbody>
				</table>
				<div class="page-bootstrap">{$list->render()|raw}</div>
			</div>
		</article>
	</div>
</section>
<!--_footer 作为公共模版分离出去-->
{include file='pub/footer.html' /}
<!--/_footer /作为公共模版分离出去-->

<script type="text/javascript" src="__LIB__/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__LIB__/laypage/1.2/laypage.js"></script>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->

</body>
</html>